h1 {
    background-color: transparent;
    color: black;
    font-family: "Times New Roman", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

h2 {
    background-color: transparent;
    color: black;
    font-family: "Times New Roman", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

p {
    background-color: transparent;
    color: black;
    text-align: left;
}